html {
  background-color: black;
  color: rgb(216, 160, 18);
}

#navbar {
  position: top;
  text-align: right;
  word-spacing: 10px;
  font-weight: bold;
  font-family: Raleway, sans-serif;
  padding-right: 3%;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: rgb(216, 160, 18);
}

#welcome {
  text-align: center;
  font-family: Raleway, sans-serif;
  letter-spacing: 3px;
  position: relative;
}

h1 {
  font-weight: bold;
}

img {
  width: 20%;
  height: 50%;
  position: absolute;
  object-fit: cover;
}
