body {
  background-color: black;
  color: white;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-areas: ". nav" "sidebar header" "sidebar header" ". main" "main2 main3" "footer footer";
}

.nav {
  grid-area: nav;
  text-align: right;
  padding-top: 1.5em;
  padding-bottom: 1em;
  margin-left: 5em;
}

.sidebar {
  grid-area: sidebar;
  padding: 5em 0em 5em 0em;
}

.header,
.content,
.nav,
.content2 {
  background-color: white;
  color: black;
}

.header {
  grid-area: header;
  padding: 10em 5em 10em 5em;
}

.content {
  grid-area: main;
  margin-left: 5em;
  padding-bottom: 3em;
}

.content2 {
  grid-area: main2;
}

.content3 {
  grid-area: main3;
}

.footer {
  grid-area: footer;
}

#navbar {
  word-spacing: 8px;
  padding-right: 3%;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gold;
}

img {
  width: 85%;

  object-fit: cover;
  padding-top: 3em;
  padding-bottom: 3em;
}

h1,
p {
  letter-spacing: 2px;
}

h1 {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  text-align: center;
}

p:nth-of-type(2) {
  margin-top: 0.5em;
}

p:nth-of-type(3) {
  line-height: 1.5em;
}
