body {
  background-color: black;
  color: white;
  overflow-x: hidden;
  margin: 0;
}

.wrapper {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: ". nav" "sidebar header" "sidebar header" ". main" "footer footer";
}

.nav {
  grid-area: nav;
  text-align: right;
  padding-top: 1.5em;
}

.sidebar {
  grid-area: sidebar;
}

.header,
.content,
.nav {
  background-color: white;
  color: black;
}
.header {
  grid-area: header;
  padding: 5em;
}

.content {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

#navbar {
  word-spacing: 8px;
  padding-right: 3%;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: gold;
}

img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  padding-top: 3em;
  padding-bottom: 3em;
}

h1,
p {
  letter-spacing: 2px;
}

h1 {
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 0;
}
